### Terraform template
# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl
**/.terragrunt-cache/*

# Local dev files
.config
.idea
.kube
.ssh
.terragrunt-cache

# Terraform state
**/terraform.tfstate.d/*
*.tfstate
*.tfstate.*

# Terraform plan
*.plan

# Terrafaor local tfvars
terraform.tfvars

.DS_Store
*.bak
consul-license.yaml*
consul-admin-cluster.tf
